  * {
    margin: 0;
    padding: 0;
  }
  ul {

  }
  body {

  }
  .clearfix {
    zoom: 1;
  }
  .clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
  
  /* Layout */
  #footer {

  }
  #footer a {

  }
  #footer .inner {

  }
  #footer .inner > div {

  }
  #footer .inner > div:last-child {

  }
  #footer .inner h3 {

  }
  #footer .inner .info-link ul {
    padding-left: 58px;
  }
  #footer .inner .info-link li {
    position: relative;
  }
  #footer .inner .info-link li:after {
    content: "●";
    display: block;
    font-size: 16px;
    position: absolute;
    left: -17px;
    top: 0;
  }
  #footer .inner .info-link li a:hover {
    text-decoration: underline;
  }
  #footer .inner .follow-us ul {
    text-align: right;
  }
  #footer .inner .follow-us li {
    display: inline;
    margin-right: 1px;
  }
  #footer .inner .follow-us li a {

  }
  .facebook a {

  }
  .google-plus a {

  }
  .twitter a {

  }
  .linkedin a {

  }
  #footer .copyright {

  }
  #footer .inner .follow-us li a:hover {

  }