body {
  background-color: rgb(86, 131, 228);
}
h1 {
  text-align: center;
  color: white;
}
h3 {
  text-align: right;
  color: white;
}
nav {
  overflow: hidden;
}
table {
  background-color: rgb(33, 62, 126);
  width: 1000px;
  height: 100%;
  padding: 0px;
  margin: 10px;
}
footer {
  text-align: center;
  margin: 10px;
}
