/* Reset */
  * {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;  }
  body {

  }
  input[type="text"],
  input[type="email"],
  textarea {

  }
  input[type="text"],
  input[type="email"] {
    height: 40px;
  }
  textarea {

  }
  button {

  }
  button:hover {

  }
  .clearfix {
    zoom: 1;
  }
  .clearfix:after {

  }
  
  /* Layout */
  .contact-us {

  }
  .contact-us .info {

  }
  .contact-us h2 {

  }
  /* Line cho h2 */
  .contact-us h2:after {

  }
  .contact-us h3 {

  }
  .contact-us .contact-list li {

  }
  .contact-us .contact-list li i {

  }
  .contact-us .contact-list li a {

  }
  .contact-us .contact-form {

  }
  .contact-us .contact-form p {

  }
  .contact-us .contact-form .submit-btn {

  }
  .contact-us .contact-form textarea {

  }