li {
  display: inline;
}

#navbar {
  padding: 8px;
  background-color: #faf1c4;
}
a {
  padding-left: 20px;
  margin: 10px;
  color: blue;
}
.x {
  padding: 15px;
  margin: 30px;
  background-color: blue;
  color: white;
}
