body {
  background-color: #79f5e8;
}
li {
  display: inline;
}
#topnav {
  background-color: #faf1c4;
  padding: 0px;
  margin: 0px;
}
a {
  padding-left: 20px;
  color: blue;
}
table {
  background-color: #f49a2e;
}
