#darkblue {
  background-image: url(graphics/bkgd.gif);
}
#topright {
  margin: auto;
  width: 50%;
  padding: 10px;
}
#topleft,
#topright {
  display: inline;
}
li {
  display: inline;
}
#topnav #navbar {
  background-color: aquamarine;
  padding: 3px;
}
#maincontent {
  background-color: #e9d8f4;
  text-align: center;
  padding: 10px;
}
#footer {
  background-color: blue;
}
