body {
  background-image: url(../image/smile-face.png);
}
h1 {
  text-align: center;
}
li {
  float: left;
}

a {
  display: block;
  padding: 10px;
  background-color: #e9d8f4;
}
#maincontent {
  background-color: #e9d8f4;
  text-align: center;
}
