* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
body {
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  background-color: #eae8dd;
}

/* Layout */
.service {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: auto;
  font-family: var(--font-sans);
}
.service .head-section {
  background-color: rgb(145, 238, 245);
  padding: 50px;
}
.service .head-section h2 {
  color: white;
}
.service .service-list {
  background-color: white;
  display: flex;
  width: 100%;
  height: 100%;
}
.service .service-list li {
}
.service .service-list li:last-child {
}
.service .service-list li .icon {
}
.service .service-list li .icon i {
}
.service .service-list li h3 {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.service .service-list li .text {
  color: #e5e5e2;
}
