  * {
    margin: 0;
    padding: 0;
  }
  ul {

  }
  body {

  }
  .clearfix {
    zoom: 1;
  }
  .clearfix:after {

  }

  /* Layout */
  .examples {

  }
  .examples h2 {

  }
  /* phần background trắng che line bên dưới */
  .examples h2 span {

  }
  /* line của h2 */
  .examples h2:after {

  }
  .examples .example-list li {

  }
  .examples .example-list li:nth-child(4n) {

  }