body {
  border: 3px solid #00ff00;
  width: 860px;
  height: 820px;
  overflow-x: scroll;
  overflow-y: scroll;
}
th {
  width: 20%;
  border: 2px solid rgb(187, 91, 187);
}
td {
  background-color: rgb(85, 158, 206);
}
th {
  background-color: rgb(190, 81, 141);
}
